{% extends 'generic/_base.html' %}
{% load static %}
{% load helpers %}

{% block head %}
{{ block.super }}
{# Fabric.js is still required as a dependency #}
<script src="{% static 'netbox_floorplan/vendors/fabric-js-6.0.2.js' %}"></script>
{% endblock head %}

{% block title %}
{{ obj }}
{% endblock title %}

{% block content %}

{# Data injection for React app #}
<div id="floorplan-data"
     data-floorplan-id="{{ obj.pk|default:'0' }}"
     data-site-id="{% if site %}{{ site.id }}{% else %}{% endif %}"
     data-location-id="{% if location %}{{ location.id }}{% else %}{% endif %}"
     data-record-type="{{ record_type|default:'site' }}"
     data-csrf-token="{{ csrf_token }}"
     style="display: none;">
</div>

{# React mount point #}
<div id="content-container">
  <div id="floorplan-editor-root"></div>
</div>

{# Load React app #}
<script type="module" src="{% static 'netbox_floorplan/dist/editor.js' %}"></script>

{% endblock content %}
