{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load tz %}
{% load static %}

{% block head %}
{{ block.super }}
{# Fabric.js is still required as a dependency #}
<script src="{% static 'netbox_floorplan/vendors/fabric-js-6.0.2.js' %}"></script>
{% endblock head %}

{% block breadcrumbs %}
{{ block.super }}
{% if object.region %}
{% for region in object.region.get_ancestors %}
<li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?region_id={{ region.pk }}">{{ region }}</a></li>
{% endfor %}
{% elif object.group %}
{% for group in object.group.get_ancestors %}
<li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?group_id={{ group.pk }}">{{ group }}</a></li>
{% endfor %}
<li class="breadcrumb-item"><a href="{% url 'dcim:site_list' %}?group_id={{ object.group.pk }}">{{ object.group }}</a>
</li>
{% endif %}
{% endblock %}

{% block content %}

{% if floorplan is none %}
{# No floorplan exists - show add button #}
<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <div class="card-body text-center py-5">
                <h4 class="text-muted mb-3">No floorplan exists for this {% if record_type == 'site' %}site{% else %}location{% endif %}</h4>
                <a class="btn btn-primary"
                    href="/plugins/floorplan/floorplans/add/?{% if record_type == 'site' %}site{% else %}location{% endif %}={{object.id}}">
                    <i class="mdi mdi-plus-thick" aria-hidden="true"></i>
                    Add Floorplan
                </a>
            </div>
        </div>
    </div>
</div>
{% else %}
{# Floorplan exists - show React viewer #}

{# Data injection for React app #}
<div id="floorplan-data"
     data-floorplan-id="{{ floorplan.id }}"
     style="display: none;">
</div>

{# React app mount point #}
<div id="floorplan-viewer-root"></div>

{# Load React app #}
<script type="module" src="{% static 'netbox_floorplan/dist/viewer.js' %}"></script>

{% endif %}

{% endblock content %}
